<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cctv.springbootspringsecuritydemo.persistent.manager.pl.ManagerDAO" >
    <resultMap id="ManagerResultMap" type="com.cctv.springbootspringsecuritydemo.persistent.manager.po.Manager" >
        <id column="ManagerID" property="managerId" jdbcType="VARCHAR" />
        <result column="ManagerName" property="managerName" jdbcType="VARCHAR" />
        <result column="ManagerPower" property="managerPower" jdbcType="VARCHAR" />
        <result column="ManagerPosition" property="managerPosition" jdbcType="VARCHAR" />
        <result column="ManagerSexuality" property="managerSexuality" jdbcType="VARCHAR" />
        <result column="AccountPassword" property="accountPassword" jdbcType="VARCHAR" />
        <result column="EmailAddress" property="emailAddress" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ManagerID,ManagerName,ManagerPower,ManagerPosition,ManagerSexuality,AccountPassword,EmailAddress
    </sql>

    <select id="getManagerByEmail" parameterType="string" resultMap="ManagerResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM manager
        WHERE EmailAddress= #{emailAddress}
    </select>

</mapper>